<main>
   <section class="playlist-container">
      <h2>Your playlists</h2>
      {{#each data}}
      <article class="playlist-card">
         <a href="/detail/{{this.playlist.id}}">
         <picture>
            <source media="(min-width: 768px)" srcset="{{this.playlist.largeImg}}" />
            <source media="(min-width: 320px)" srcset="{{this.playlist.smallImg}}" />
            <img src="{{this.playlist}}" alt="Playlist cover" loading="lazy">
         </picture>
            <h2>{{this.playlist.name}}</h2>
         </a>
      </article>
      {{/each}}
   </section>
</main>
